* {
    margin: 0;
    padding: 0;
    border-box: box-sizing;
}

body {
    background-color: rgba(80, 80, 80, 0);
    width: 300px;
    height: 500px;
    border: 3px groove #00ff00;
    border-radius: 5px; 
}

#changeColor {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px;
    border: 3px groove green;
    border-radius: 5px;
    font-size: 1.2em;
}
